//Fonts
@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni&family=Lobster&family=Lobster+Two&family=Norican&family=Oleo+Script&family=Pacifico&family=Petit+Formal+Script&family=Playball&family=Rye&family=Satisfy&family=Tapestry&display=swap');
//variables
$fontuno:'Rye',
cursive;
$fontdos:'Playball',
cursive;
$fonttres:'Petit Formal Script',
cursive;
$fontcuatro:'Lobster',
sans-serif;
$fontcinco:'Libre Bodoni',
serif;
//tamanos
$font47:4.7rem;
$font45:4.5rem;
$font35:3.5rem;
$font3: 3rem;
$font25:2.5rem;
$font24:2.4rem;
$font21:2.1rem;
$font2:2rem;
$font170:170%