//Maps
//Colores para los titulos
//mapa
$titulos:(h1:$azul, h2:$negro, h3:$violeta, h4:$azuloscuro, h5:$azuloscuro);
//bucle para los valores del mapa
@each $titulo,
$color in $titulos {
    #{$titulo} {
        color: $color;
    }
}

//map get
$espacios:(automatico: auto, diez: 10px, quince: 15px, veinte: 20px, treinte: 30px, treintacinco:35px, cuarenta: 40px, cincuenta: 50px, sesenta: 60px, setenta: 70px, ochenta: 80px);
$fonts: (uno:1rem, unocinco:1.5rem, unoocho:1.8rem, dos:2rem, doscinco:2.5rem, tres:3rem, trescinco:3.5rem, cuatro:4rem, cuatrocinco:4.5rem, cinco:5rem, cincocinco:5.5rem)