/*Media queries*/


/*grid area*/

#cabeza {
    grid-area: nav;
}

#principal {
    grid-area: main;
}

#buscador {
    grid-area: buscar;
    position: static;
    background-color: rgb(174, 174, 190);
}

#item1 {
    grid-area: section1;
    margin: 0;
    padding: 0;
}

#item2 {
    grid-area: section2;
}

#item3 {
    grid-area: section3;
}

#item4 {
    grid-area: section4;
}

#links {
    grid-area: links;
}

#footer {
    grid-area: pie;
}


/*Media queries*/


/*mobile*/

@media only screen and (max-width: 767px) {
    //Index
    .grid-index {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(8, auto);
        grid-template-areas: "nav" "main" "section1" "section2" "section3" "section4" "links" "pie";
    }
    h1 {
        font-size: map-get($fonts, dos);
        height: 20rem;
    }
    h2 {
        font-size: map-get($fonts, dos);
        padding: 10px 0;
    }
    h3 {
        font-size: map-get($fonts, dos);
        padding: 5px 0;
        line-height: map-get($espacios, veinte);
    }
    p {
        font-size: map-get($fonts, unocinco);
        line-height: map-get($espacios, treintacinco);
    }
    button a {
        font-size: map-get($fonts, uno);
    }
    .centro {
        line-height: map-get($espacios, treinta);
        padding: 5px 0;
        font-size: map-get($fonts, tres);
    }
    .display {
        @include direction(block, row, center);
        line-height: map-get($espacios, treinta);
    }
    .fondomujer {
        @include bg-position(80% 80%, 60%)
    }
    .fondohombre {
        @include bg-position(80% 80%, 60%)
    }
    .fondonene {
        @include bg-position(80% 80%, 60%)
    }
    section ul li {
        padding: 0;
        font-size: map-get($fonts, dos);
        line-height: map-get($espacios, cuarenta);
    }
    .unisex {
        margin: 0;
        justify-content: center;
    }
    .borde-in {
        padding: 0;
        line-height: map-get($espacios, setenta)
    }
    .aside {
        @include aside (flex, row nowrap, $bgrojo);
        img {
            @include justify-content(space-evenly);
            width: 17%;
            height: 70%;
            padding: 1% 0;
        }
    }
    #imagen {
        width: 50%;
    }
    //Nosotros 
    .grid-nosotros {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(6, auto);
        grid-template-areas: "nav " "main " " section1 " "links" "section2" " pie";
    }
    .horizontal2 {
        @include direction(block, row, center);
        text-align: center;
        margin: 0;
        padding: 0;
        h2 {
            font-size: 4rem;
        }
    }
    .historia {
        display: flex;
        justify-content: center;
        padding: 30px 0;
        margin: 0;
        width: 100%;
        height: 100%;
    }
    .p2 {
        font-size: 1.9rem;
        margin: 0;
        padding: 0;
        line-height: 200%;
        text-align: center;
    }
    .img-gen {
        @include direction(block, row, center);
        line-height: map-get($espacios, treinta);
    }
    .img-ind {
        display: block;
        margin: 10px 75px;
        width: 60%;
        height: 50%;
    }
    //Ropa
    .grid-ropa {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(6, auto);
        grid-template-areas: "nav" "main" "buscar" "section1" "links" "pie";
    }
    h3 {
        margin: 0 3%
    }
    .categoria {
        display: flex;
        flex-flow: row wrap;
        margin: 2%;
        font-size: map-get($fonts, unoocho);
    }
    .categoria-li li {
        font-size: 1.3rem;
    }
    .busqueda {
        font-size: 1.5rem;
    }
    #buscador {
        font-size: 2.5rem;
        flex-direction: column;
    }
    .ropa {
        height: 100px;
        width: 100px;
    }
    #parrafo p {
        font-size: 1.6rem;
        line-height: 4rem;
    }
    //Sucursal
    .grid-sucursal {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(6, auto);
        grid-template-areas: "nav" "main" "section1" "section2""links" " pie";
    }
    section div div p {
        padding: 0 5px;
    }
    .fachada {
        display: flex;
        align-content: center;
        height: 90%;
        width: 90%;
        padding: 10px 10px 10px 40px;
    }
    .column {
        padding: 5px 0
    }
    #sucursal {
        text-align: start;
    }
    #sucursal2 {
        text-align: start;
    }
    .mapa {
        width: 90%;
        height: 90%;
        margin: 3% 5%;
    }
    //Contacto
    .grid-contacto {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto 20vh auto;
        grid-template-areas: "nav" "main" "section1" "links" "pie";
    }
    .font {
        font-size: 1.5rem;
    }
}


/*tablet*/

@media only screen and (min-width: 768px) {
    /*Index*/
    .grid-index {
        display: grid;
        grid-template-columns: auto 30vh;
        grid-template-rows: repeat(6, auto);
        grid-template-areas: "nav nav" "main main" "section1 links" "section2 links" "section3 links" "section4 links""pie pie"
    }
    .log {
        padding: 1% 1%;
    }
    /*Nosotros*/
    .grid-nosotros {
        display: grid;
        grid-template-columns: auto 20vh;
        grid-template-rows: repeat(5, auto);
        grid-template-areas: "nav nav" "main main" "section1 links" "section2 section2" "pie pie"
    }
    .aside {
        display: flex;
        flex-flow: column nowrap;
        @include justify-content(space-evenly);
        align-items: center;
        background-color: rgba(255, 80, 80, 0.863);
        img {
            height: 9%;
            width: 67%;
            padding: 1% 0;
        }
    }
    .p2 {
        font-size: 1.8rem;
        line-height: 4.4rem;
        text-align: center;
    }
    .historia {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 4% 9% 3% 10%;
        padding: 1% 1%;
        width: 80%;
        height: auto;
    }
    .margin {
        @include line(flex, center, center, 115%);
        margin-top: 2%;
    }
    .horizontal2 {
        display: block;
        flex-direction: row;
        justify-content: center;
    }
    /*Ropa*/
    .grid-ropa {
        display: grid;
        grid-template-columns: 30vh auto 30vh;
        grid-template-rows: repeat(4, auto);
        grid-template-areas: "nav nav nav" "main main main" "buscar section1 links" "pie pie pie";
    }
    .busqueda {
        font-size: 1.7rem;
    }
    .categoria {
        flex-flow: column nowrap;
        padding: 15% 5% 0 5%;
        margin-top: 8%;
        font-size: 2rem;
    }
    .categoria-li {
        text-align: start;
        padding: 10% 0;
        margin: 10% 0;
        font-size: 1.7rem;
        li {
            margin: 0 12px;
            padding: 5% 2%;
        }
    }
    .ropa {
        height: 110px;
        width: 110px;
    }
    #parrafo p {
        font-size: 1.8rem;
    }
    /*Sucursal*/
    .grid-sucursal {
        display: grid;
        grid-template-columns: auto 20vh;
        grid-template-rows: repeat(5, auto);
        grid-template-areas: "nav nav" "main main" "section1 links" "section2 section2" "pie pie"
    }
    .fachada {
        display: flex;
        flex-direction: row;
        justify-content: start;
        margin: 4% 1% 0% 15%;
        padding: 0;
        width: 70%;
        height: auto;
    }
    .mapa {
        margin: 3% 5%;
    }
    .column {
        padding: 2%;
    }
    .grid-contacto {
        display: grid;
        grid-template-columns: auto 20vh;
        grid-template-rows: repeat(4, auto);
        grid-template-areas: "nav nav" "main main" "section1 links" "pie pie";
    }
}


/*desktop*/

@media only screen and (min-width: 1024px) {
    /*Index*/
    .grid-index {
        column-gap: 30px;
    }
    /*Ropa*/
    .grid-ropa {
        column-gap: 30px;
    }
    .ropa {
        height: 140px;
        width: 140px;
    }
    /*Sucursal*/
    .grid-sucursal {
        column-gap: 30px;
    }
    .flex {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .fachada {
        margin: 4% 0 4% 1%;
        width: 50%;
    }
    /*Contacto*/
    .grid-contacto {
        column-gap: 50px;
    }
}